BasedOnStyle: Microsoft

NamespaceIndentation: All

AllowShortBlocksOnASingleLine: Always
AllowShortLambdasOnASingleLine: Empty
AllowShortCaseLabelsOnASingleLine: true
AllowShortIfStatementsOnASingleLine: true

PackConstructorInitializers: Never
