---
Checks: "*,
        -abseil-*,
        -altera-*,
        -android-*,
        -fuchsia-*,
        -google-*,
        -llvm*,
        -modernize-use-trailing-return-type,
        -zircon-*,
        -cert-env33-c,
        -bugprone-command-processor,
        -concurrency-mt-unsafe,
        -readability-else-after-return,
        -cppcoreguidelines-pro-bounds-avoid-unchecked-container-access,
        -cppcoreguidelines-non-private-member-variables-in-classes,
        -misc-non-private-member-variables-in-classes,
        -misc-no-recursion,
        -misc-include-cleaner,
        -misc-use-internal-linkage
"
WarningsAsErrors: ''
HeaderFilterRegex: ''
FormatStyle:     none

CheckOptions:
  - key: bugprone-easily-swappable-parameters.MinimumLength
    value: 3
  - key: readability-identifier-length.IgnoredVariableNames
    value: 'x|y|z'
  - key: readability-identifier-length.IgnoredParameterNames
    value: 'x|y|z'
