[submodule "assets/deps/Catch2"]
	path = assets/deps/Catch2
	url = https://github.com/catchorg/Catch2.git
[submodule "assets/deps/googletest"]
	path = assets/deps/googletest
	url = https://github.com/google/googletest.git
[submodule "deps/inja"]
	path = deps/inja
	url = https://github.com/pantor/inja.git
