---
Checks: "*,
        -abseil-*,
        -altera-*,
        -android-*,
        -fuchsia-*,
        -google-*,
        -llvm*,
        -modernize-use-trailing-return-type,
        -zircon-*,
        -readability-else-after-return,
        -cppcoreguidelines-pro-bounds-avoid-unchecked-container-access,
        -misc-no-recursion,
        -misc-include-cleaner,
"
WarningsAsErrors: ''
HeaderFilterRegex: ''
FormatStyle:     none

CheckOptions:
  - key: bugprone-easily-swappable-parameters.MinimumLength
    value: 3
